.favoritar {
  all: unset;
  width: max-content;
  height: max-content;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  user-select: none;

  &:hover {
    scale: 1.05;

    .icon {
      fill: red !important;
    }
  }

  &:focus {
    scale: 0.9;
  }
}
