.footer {
  width: 100vw;
  border-top: 1px solid #00000000;
  box-shadow: 0 0 5px 0px #00000020;
  padding-bottom: 24px;

  .main {
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;

    .main_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #00000020;
      margin-right: 1rem;
      margin-bottom: 24px;
      padding: 24px 0;

      button {
        all: unset;
        background: #f3f3;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
          transform: scale(1.02);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }

    .office_data {
      display: flex;
      gap: 2rem;

      li {
        list-style: none;
      }

      .navigation {
        li:hover {
          color: #0d6efd;
        }
      }
    }
  }
}
