.mapOptions {
  display: flex;
  align-items: center;
  margin-inline-start: -7px;
  overflow: hidden;
  svg {
    border-radius: 4px;
    object-fit: contain;
    aspect-ratio: 3/2;

    &:nth-child(2) {
      margin-inline: 8px;
    }
  }

  svg:hover {
    box-sizing: border-box;
    scale: 1.05;
  }
}
