.main {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 2rem;

  .transaction {
    color: green;
    font-weight: 700;
  }

  @media screen and (width < 1440px) {
    margin-inline: 1rem;
  }
  .container {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    & > div:nth-child(1) {
      width: 70%;
    }

    & > div:nth-child(2) {
      width: 30%;
    }
    ul > li {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (width < 768px) {
      & {
        flex-direction: column;

        & > div:nth-child(1),
        & > div:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}

.description_container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;

  .description {
    margin: 20px 0;
  }

  @media screen and (width < 768px) {
    grid-template-columns: 1fr;
    .map {
      width: 100%;
    }
  }
}
.map {
  width: calc(100% - 3rem);
}

.infos {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
