html:has(.main),
body:has(.main) {
  background-image: linear-gradient(to bottom, #fff, #9a8077);

  ::-webkit-scrollbar {
    display: none;
  }
}

.main {
  width: 100vw;
  height: max-content;

  h1 {
    margin-inline: auto;
    color: #fff;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 0 auto;

    .section_2 {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23846b62' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    }

    .section_container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      flex-direction: column;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23aaa7ac' fill-opacity='0.22'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.22'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 80px;
      background-repeat: repeat;

      @media (width < 1440px) {
        padding: 0 1rem;
      }

      & > div {
        width: 100%;
        max-width: 1440px;
        margin-inline: auto;
        min-height: 100vh;
        display: flex;
        gap: 2rem;
        justify-content: space-evenly;
        flex-direction: column;
      }
    }

    .hero_image {
      width: 100%;
      height: 80vh;
      object-fit: cover;

      @media (width < 768px) {
        height: 90vh;
      }
    }

    .hero {
      position: relative;
      overflow: hidden;
      border-radius: 2rem;
      width: 100%;
      max-width: 1440px;
      margin-inline: auto;

      .hero_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 5rem;
        background-image: linear-gradient(
          to right,
          rgba(27, 27, 27, 0.8),
          rgba(0, 0, 0, 0.1)
        );

        section {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-around;
          color: #fff;

          h1 {
            margin: 0;
            font-size: 5rem;
          }

          p {
            font-weight: bold;
            font-size: 1.4rem;
          }
          @media (width < 1440px) {
            h1 {
              font-size: 4rem;
            }
            @media (width < 992px) {
              width: 100%;

              @media (width < 768px) {
                h1 {
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }

    .section {
      width: max-content;
      max-width: 90%;
      padding: 20px;
      border-radius: 8px;

      h1,
      h2 {
        font-weight: bold;
        color: #fff;
        animation: gradient 5s ease infinite forwards;
      }

      a {
        color: #fff;
      }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 50% 0%;
        }
      }
    }
    .section:nth-child(even) {
      align-self: self-end;
      border-radius: 8px;
    }
  }
}

.chat_bubble,
.section:has(> p) {
  position: relative;
  margin-top: 1rem;
  background-color: #bd9f75; /* Cor de fundo do balão */
  color: white; /* Cor do texto */
  padding: 12px 16px;
  border-radius: 24px; /* Bordas arredondadas */
}

.section:has(> p) {
  max-width: 50% !important;

  &:nth-child(even) {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 0 !important;
    &::after {
      left: calc(100% - 20px);
      clip-path: polygon(0% 100%, 100% 0, 100% 100%);
    }
  }
}

@media (width < 768px) {
  .container {
    display: flex !important;
    gap: 5rem;
  }
  .map_container {
    width: 100% !important;
  }

  @media (width < 576px) {
    .hero_overlay {
      h1 {
        font-size: 2rem !important;
      }
      p {
        font-size: 1rem !important;
      }
    }
  }
}

.cadastre {
  background-color: #11395290;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  animation: pulse 2s infinite;

  &:hover {
    background-color: #113952;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

.mainContainer {
}

.offices_container {
  background-color: #11395290 !important;
}

.section_cards {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23aaa7ac' fill-opacity='0.22'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.22'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 80px;
  background-repeat: repeat;
}
