main:has(.containerCenter) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  backdrop-filter: blur(10px);
  width: max-content;
  padding: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  input {
    outline: 1px solid #00000020;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--dark-700);
}
.login {
  margin-top: 2rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  h1 {
    color: var(--white);
    padding-bottom: 1rem;
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;

    button {
      height: 40px;
      font-size: 1.2rem;
    }
  }
}

.text {
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}
