.footer {
  width: clamp(100%, 1440px, 100vw);
  margin-bottom: 2rem;
  @media (width < 1440px) {
    padding: 0 1rem;
  }

  .main {
    background: var(--orvalho);
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    h2 {
      font-size: 2rem;
    }

    .main_head {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid #00000020;
      margin-right: 1rem;
      margin-bottom: 24px;
      padding: 24px 0;

      button {
        all: unset;
        background: var(--primary-color);
        color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
          transform: rotate(360deg) scale(1.2);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }

    .office_data {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;

      li {
        list-style: none;
      }

      .number {
        a {
          &:hover {
            color: var(--purple);
          }
        }
      }

      .navigation {
        li {
          user-select: none;
          position: relative;

          &:hover {
            color: var(--purple);
          }

          &::before {
            content: '>';
            position: absolute;
            margin-right: 4px;
            transition: 0.3s;
            left: -12px;
            color: #000;
          }

          span {
            color: #000;
            margin-right: 4px;
          }
        }

        li:hover::before {
          transform: rotate(360deg);
        }
      }
    }
  }
}
