.card {
  display: flex;
  border: 1px solid #00000020;
  padding: 20px;
  gap: 1rem;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.37);
  figure {
    img {
      width: 100px;
      height: 100px;
    }
  }

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    p {
      font-size: 1.2rem;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid var(--primary-blue);
  }
}
