.header {
  margin-top: 1.75rem;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  @media (width <= 1920px) {
    padding-inline: 4rem;
  }

  @media (width <= 768px) {
    padding-inline: 1rem;
  }

  @media (width <=768px) {
    text-align: center;
    background-color: var(--third-blue);
    width: 100vw;
    color: #fff;
    margin: 0;
    padding: 0.5rem 0;
  }
}
